.input-container {
	position: relative;
	width: 100%;
}

.input {
	background-color: var(--input-color);
	border-radius: var(--radius-md);
	border: 1px solid var(--primary-color);
	color: var(--accent-color);
	font-size: 1rem;
	outline: none;
	padding: var(--padding-sm) var(--padding-md);
	width: 100%;
	padding-right: 2.5rem;
}

.clear-button {
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
	background: transparent;
	border: none;
	color: var(--primary-color);
	cursor: pointer;
	font-size: 0.9rem;
	border-radius: 25%;
	padding: 0px 4px;
}

.clear-button:hover {
	background-color: var(--surface-light-color);
}
