:host {
	display: block;
	height: 100%;
	width: 100%;
}

.icon-container {
	background-color: var(--surface-light-color);
	color: var(--accent-color);
	border-radius: 999px;
	padding: var(--padding-md);
}

.no-results {
	background-color: var(--surface-color);
	padding: var(--padding-md);
	border-radius: 6px;
	height: 100%;
	border: 1px solid var(--error-color);
	flex-direction: column;
	gap: 1.5rem;
}

.no-results p {
	color: var(--error-color);
	font-weight: bold;
}

.no-results span {
	color: var(--text-light-color);
}

.clear-storage-button {
	background-color: var(--error-color);
	color: var(--text-white-color);
	border: none;
	border-radius: var(--radius-sm);
	padding: 10px 15px;
	font-size: 15px;
	font-weight: 500;
	cursor: pointer;
	transition: all var(--transition-speed) ease;
	box-shadow: 0 2px 5px var(--transparency-low);
	gap: 0.5rem;
	width: 15rem;
	height: 3rem;
}

.clear-storage-button:hover {
	background-color: var(--error-hover-color);
	transform: translateY(-2px);
	box-shadow: 0 4px 8px var(--transparency-low);
}

.clear-storage-button:active {
	transform: translateY(0);
	box-shadow: 0 1px 3px var(--transparency-low);
}
